.color-shift-layer {
  position: fixed;
  inset: 0;
  background: linear-gradient(120deg, 
    red, orange, yellow, green, cyan, blue, violet, red);
  background-size: 200% 200%;
  animation: shift 10s linear infinite;
  z-index: 0;
}

@keyframes shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.mask-layer {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  inset: 0;
}

.mask-container {
  position: fixed;
  z-index: 1;
  inset: 0;
  height: 102vh;
  width: 102vw;
}

.blur-layer {
  position: fixed;
  inset: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* for Safari */
  pointer-events: none;
}